version: "3.2"
services:
  php:
    build: './php/'
    networks:
      - backend
    volumes:
      - ./public_html/:/var/www/html/
      
  apache:
    build: './apache/'
    depends_on:
      - php
      - mysql
    networks:
      - frontend
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./public_html/:/var/www/html/

  mysql:
    image: mysql:latest
    volumes:
      - ./query.sql:/etc/mysql/data/query.sql:rw
    networks:
      - backend
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword

  app:
    depends_on:
     - mysql
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
     - '8081:80'
    networks:
     - backend
    environment:
      PMA_HOST: mysql

networks:
  frontend:
  backend: