/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fin du reset */


/*ensemble*/
body {
	background-image:url("img/bkgd_page.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	background-color:#f6f6f6;
}

p {
	font-size:18px;
}

h1, h2 {
	padding:5px;
}

h1 {
	font-weight:bold;
	font-size:48px;
}

h2 {
	font-size:36px;
}

#wrapper {
	width:1024px;
	margin:0 auto;
}
/*fin ensemble*/


/*header*/
.logo {
	margin-top:40px;
}

.left {
	float:left;
}

.menu {
	float:right;
	padding-top:60px;
}

.menu ul {
	text-align:right;
}

.menu li {
	float:left;
}

.menu a {
	text-decoration:none;
	color:white;
	border:1px dotted white;
	padding:5px 10px;
}

.menu a:hover {
	background-color:#fff;
	color: #38b4b4;
}
/*fin header*/


/*main top*/
.main-top {
	text-align:center;
	color:#fff;
	margin-top:160px;
}
/*fin main top*/


/*main*/

main {
	margin:100px 0px;
	padding:40px 10px 60px 25px;
	background-color:#f6f6f6;
}

.bordure {
	margin-right:10px;
	border:1px solid black;
}


/*partie 1*/
section {
	padding:15px 0px;
}
	
.partie1 {
	display:flex;
}

h3 {
	font-size:36px;
	font-weight:bold;
}

.meta {
	margin:5px 0px;
}
.meta-date {
	color:#aaa;
	font-style: italic;
}
.meta-auteur {
	color:#38b4b4;
	font-weight:bold;
}

figure {
	opacity:1;
}

.partie1 figure:hover {
	background-color:#ccc;
	opacity:0.5;
}

aside {
	min-width:25%;
	text-align:center;
	margin-left:10px;
	border-left:2px dotted grey;
}

aside img {
	margin-top:30px;
}

aside a {
	text-decoration:none;
	color:#a22755;
}

aside a:hover {
	background-color:#ccc;
	color:#808080;
}
/*fin partie 1 */



.partie2, .partie3 {
	padding:80px 0;
}


/*partie 2*/
.container {
	width:480px;
	height:480px;
	border:2px solid #305a47;
}

.container2 {
  position: relative;
  width: 50%;
}

.middle {
	opacity: 0;
	position: absolute;
	top:160px;
	left:140px;
	text-align: center;
}

.text {
	position:absolute;
	top:70px;
	left:40px;
	width:120px;
	height:50px;
	background-color: #4CAF50;
	color: white;	
	font-size: 32px;
	padding:10px 0px;
}

.container2:hover .image {
	opacity:0.5;
	background-color:#ccc;
}

.container2:hover .middle {
	opacity:1;
	color:white;
}

.middle:hover .text {
	color:#ccc;
}

.boite {
	width:238px;
	height:238px;
	padding:20px 0px;
	text-align:center;
	background-color:#ddeae4;
	border:2px solid #305a47;
}

.left {
	float:left;
}

.boite a {
	text-decoration:none;
	color:#a22755;
}

.boite a:hover {
	background-color:#ccc;
	color:#808080;
}
/*fin partie 2 */


/*partie 3*/
.form-contact {
    background-color: #ddeae4;
    width:974px;
    padding:40px 160px;
    margin: 50px 0;   
    border: 4px solid #305a47;
    position:relative;
    font-family: arial, helvetica, sans-serif; 
}

.form-contact legend,
.form-contact input, 
.form-contact select,
.form-contact textarea {
    width:320px;
    border: none;
    margin:5px;
    padding:4px;
}

.form-contact #nom {
	width:635px;
}

.form-contact #prénom, #email {
	width:310px;
}

.form-contact textarea {
	width:635px;
    font-family: arial, helvetica, sans-serif;
	border: 1px solid black;
}

.form-contact .submit {
    width: 635px;
	color:#ddeae4;
    border:none;
    display:block;
    background-color:#305a47;
}

.form-contact .submit:hover {
    background-color: #109177;
}

.form-contact .submit:active {
    position:relative;
    top:1px;
}
/*fin partie 3*/
/*fin main*/


/*footer*/
footer {
	position:sticky;
	bottom:0;
	text-align:center;
	padding:5px 10px 20px 10px;
	background-color:#305a47;
}

footer a {
	color:white;
	text-decoration:none;
	padding:5px 10px;
}

footer a:hover {
	color:grey;
}
/*fin footer*/


.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}